@import "../../App.scss";
@import "../../component/Navbar/navbar.scss";

body {
    background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltf7a985768804c98d/61f21a0cc74ced5b5b83aea3/repeating_leather_brown.jpg?format=webply&quality=70");
    background-size: 100% auto;
    background-color: #000;
}

.hero {
    height: 56vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $fontColorWhite;

    .hero-title {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45vw;
        justify-content: center;

        h1 {
            position: relative;
            font-size: 4rem;
            text-transform: uppercase;
            text-align: center;
            background: $backgroundBorderTitle;
            color: $fontColorWhite;
            padding: 2rem;
            border-radius: 20px 0;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                width: 50%;
            }

            &::before {
                left: 0;
                border-bottom: 6px solid $fontColorWhite;
            }

            &::after {
                right: 0;
                border-top: 6px solid $fontColorWhite;
            }
        }

        p {
            padding-top: 20px;
            color: $fontColorWhite;
        }
    }

}

.divider-top-container {
    position: relative;
    z-index: 10;
    pointer-events: none;
    top: -65px;

    & .divider {
        background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltbdcab2b68433b9ae/61f96d07535b9060e0406cc1/divider_1.png?format=webply&quality=70");
        background-repeat: no-repeat;
        height: 89px;
    }
}

.divider-bottom-container {
    position: relative;
    z-index: 10;
    pointer-events: none;
    top: 65px;

    & .divider {
        background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt8f77c0fef381ba6a/61f96d07c74ced5b5b83af43/divider_2.png?format=webply&quality=70");
        background-repeat: no-repeat;
        height: 89px;
    }
}

.container-bio {
    display: flex;
    justify-content: center;
    padding: 20px;

    .container-link-bio {
        height: 100%;
        width: auto;
        margin: 30px 55px;
        border-radius: 25px;
        padding: 20px 55px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: $navbarBackgroundColorPrimary;
        color: $fontColorWhite;


        a {
            margin: 1rem 0;
        }

        button {
            align-items: center;
            border: none;
            height: 50px;
            width: 50px;
            border-radius: 10px;

            img {
                height: 65%;
            }

            &:hover {
                background-color: $buttonColorHover;
                height: 70px;
                width: 70px;
                border-radius: 50%;
                transition: all .5s ease-out;
            }
        }
    }
}

.journey {
    background-color: $navbarBackgroundColorPrimary;
    color: $fontColorWhite;
    padding: 30px 20px;
    display: flex;
    justify-content: space-evenly;

    .experience {
        h2 {
            margin-top: 10px;
        }

        h3 {
            color: $fontColorBlue;
            margin: 10px 0px;
        }

        p {
            color: $fontColorGrey;
        }
    }

    .education {
        h2 {
            margin-top: 10px;
        }

        h3 {
            color: $fontColorBlue;
            margin: 10px 0px;
        }

        p {
            color: $fontColorGrey;
        }
    }
}

@media screen and (max-width: 950px) {

    .hero {

        .hero-title {
            margin-top: 50px;

            h1 {
                font-size: 40px;
                padding: 30px;
            }

            p {
                padding: 20px;
                font-size: 20px;
            }
        }

    }

    .container-link-bio {

        a {
            margin: 0px;
        }
    }
}

@media screen and (max-width: 450px) {

    .hero {

        .hero-title {
            margin-top: 30px;

            h1 {
                font-size: 20px;
                padding: 10px;
            }

            p {
                padding: 10px;
                font-size: 13px;
            }
        }

    }

    .container-link-bio {

        a {
            margin: 0px;
        }
    }
}