.body-contact {
    background-color: #000;
}

.container-contact {
    & h1 {
        text-align: center;
    }
}

.contact {
    background-color: #0D121E;
}

.test {
    z-index: 1000;
    position: relative;
}

// img fond marron
// background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltf7a985768804c98d/61f21a0cc74ced5b5b83aea3/repeating_leather_brown.jpg?format=webply&quality=70');

// img border fer
//     background-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltbdcab2b68433b9ae/61f96d07535b9060e0406cc1/divider_1.png?format=webply&quality=70');

// img contour noir
// border-image: url('https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltd398e86bd2a71475/6217dbb2621a6a2afac20c01/frame.png?format=webply&quality=70') 30;

.contact-data {
    color: #93908E;

    & a {
        text-decoration: none;
        color: #93908E;
    }
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    margin: 40px 60px;
}