@import "../../App.scss";
@import "../../component/Navbar/navbar.scss";

.body-project {

    .project-page {
        height: 500px;
        text-align: center;
        color: $fontColorWhite;

        h3 {
            color: $fontColorBlue;
        }

        p {
            color: $fontColorGrey;
        }

        .container-image {
            display: flex;
            justify-content: center;
            height: 100%;

            img {
                background-position: center;
                height: 100%;
            }
        }

        // }
        .divider-container {
            position: relative;
            z-index: 10;
            pointer-events: none;
            top: -60px;

            .divider {
                background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltbdcab2b68433b9ae/61f96d07535b9060e0406cc1/divider_1.png?format=webply&quality=70");
                background-repeat: no-repeat;
                height: 89px;
            }
        }


        .project-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            top: -85px;

            .project-bloc {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt56ec452f2eec4e04/61f21cfb621a6a2afac2083b/repeating_leather_blue.jpg?format=webply&quality=70");
                background-size: 100% auto;
                padding-top: 15px;

                .bloc {
                    margin: 15px;
                    padding: 5px;
                    width: 40%;

                    .project-element {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: space-around;

                        .project-video {
                            border: 16px solid transparent;
                            border-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltd398e86bd2a71475/6217dbb2621a6a2afac20c01/frame.png?format=webply&quality=70");
                            border-image-slice: 14 16 fill;
                            pointer-events: none;
                            background-color: #000;
                            border-radius: 20px;
                        }

                        .project_resume {
                            padding: 10px;
                            height: 200px;
                            width: 350px;
                            align-self: center;

                            a {
                                padding-top: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: $fontColorYellow;

                                svg {
                                    height: 20px;
                                }

                                &:hover {
                                    color: $fontColorYellowHover
                                }
                            }
                        }

                    }
                }

                .left {

                    h3,
                    p {
                        text-align: left;
                        align-items: center;
                    }
                }

                .right {

                    h3,
                    p {
                        text-align: right;
                        align-items: center;
                    }
                }
            }

        }
    }
}

.ReactModal__Overlay--after-open {
    z-index: 100;
}

//image de fond bleu
//https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/blt56ec452f2eec4e04/61f21cfb621a6a2afac2083b/repeating_leather_blue.jpg?format=webply&quality=70