@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// BASIC COLOR
$warning: red;
$fontColorWhite: #fff;
$fontColorBlack: #000;
$fontColorGrey: #B5B9BC;
$fontColorBlue: #87C9FA;
$fontColorYellow: #F8B700;
$fontColorYellowHover: #FFE806;
$fontColorWhiteClear: rgba(255, 255, 255, 0.2);
$buttonColorYellow: #F8B700;
$buttonColorHover: rgb(168, 206, 233);
$backgroundBorderTitle: rgba(99, 99, 99, 0.4);

// NAVBAR COLOR

$navbarBackgroundColorPrimary: rgba(28, 43, 74, 0.8);
$navbarBackgorundColorPrimaryBDFilter: rgba(31, 53, 87, 0.95);
$navbarBackgroundColorPrimaryHover: #273653;
$navbarDropdownColorPrimary: #132133;
$navbarDropdownColorPrimaryHover: #1F2C3D;
$navbarButtonColorSecondary: #f8b700;
$navbarButtonColorSecondaryHover: #f8d300;

body {
  background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blt9c12f249ac15c7ec/bltf7a985768804c98d/61f21a0cc74ced5b5b83aea3/repeating_leather_brown.jpg?format=webply&quality=70");
  background-size: 100% auto;
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}